<div class="panel panel-primary">
  <div class="panel-heading">
    sign up
  </div>
  <div class="panel-body">
  <form>
      <div class="form-group">
          <label for="exampleInputText">Username</label>
          <input type="text" class="form-control" id="exampleInputText" [(ngModel)]="auths.username"name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="auths.password" name="password" placeholder="Password">
        </div>
        <button type="submit" (click)="signup()" class="btn btn-default">Submit</button>
  </form>
</div>
</div>